# Build
build/
build-*/
cmake-build-*/
out/
bin/
*.geode
*.dll
*.dylib
*.so
*.pdb
*.lib
*.exp

# IDE
.vs/
.vscode/
.idea/
*.user
*.suo

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
.cache/

# OS
.DS_Store
Thumbs.db

# Mod data
*.ivey
